* {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 3vh;
}
h2 {
	font-family: "Josefin Slab", serif;
}
h2, h3, p, q {
	display: block;
	padding: 1vh 2vh;
}
h3 {
	font-size: 4vh;
	font-style: italic;
}
nav, button {
	font-size: 2vh;
}
table {
	border-collapse: collapse;
}
a:link, h2 {
	color: #BE8D5E;
}
a:visited {
	color: #4B6A72;
}
a:hover, a:active {
	color: #726152;
}
.data_loaded, .fewer {
	display: none;
}
.list_button {
	margin: 2vh;
}
.descriptor {
	width: 30vw;
}
.detail {
	font-size: 2.5vh;
	background-color: WhiteSmoke;
}