* {
	font-family: "Lato", sans-serif;
}
body {
	margin: 0 5em;
	font-size: 120%;
}
a:link, a:visited, a:active {
	color: #BE8D5E;
}
a:hover {
	color: #4B6A72;
}
h1 {
	margin: 40vh 0;
}
h2 {
	font-family: "Josefin Slab", serif;
	color: #726152;
}
.hiddenWithoutJS {
	display: none;
}
#dotcom {
	font-size:50%;
	color:#6BADBE;
}